NODE_ENV=development
HOST=0.0.0.0
PORT=3000
ALLOWED_ORIGINS=https://localhost:5174 # only one value (and not *) is allowed by browsers when httpOnly cookies are used
DB_DATABASE_NAME=Memoize
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:27017
MEILISEARCH_KEY=very_secret
MEILISEARCH_HOST=localhost
MEILISEARCH_PORT=7700
MONGODB_USERNAME=root
MONGODB_PASSWORD=password
ACCESS_TOKEN_SECRET=very_secret
REFRESH_TOKEN_SECRET=very_secret
S3_STORAGE_ENDPOINT=domain.tld
S3_STORAGE_ACCESS_KEY=secret
S3_STORAGE_PRIVATE_KEY=secret
