NODE_ENV=development

LOG_LEVEL=info # trace|debug|info|warn|error|fatal
LOG_DIR=./logs # dev: relative folder. prod: absolute path matching the bind mount you give the monitoring stack's Alloy container

OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318

HOST=0.0.0.0
PORT=3000

# Only one value (and not *) is allowed by browsers when httpOnly cookies are used
# Set to the nginx proxy port in development environment
ALLOWED_ORIGINS=https://localhost:8081

DB_DATABASE_NAME=Memoize
DB_SUPPORTS_TRANSACTION=false
DB_URL=mongodb://localhost:27017
MONGODB_USERNAME=root
MONGODB_PASSWORD=password

# For the cloud storage
STREAM_SIGNING_SECRET=very_secret

MEILISEARCH_KEY=very_secret
MEILISEARCH_HOST=localhost
MEILISEARCH_PORT=7700

ACCESS_TOKEN_SECRET=very_secret
REFRESH_TOKEN_SECRET=very_secret

TTS_API_KEY=very_secret

BUCKET_NAME=example
S3_STORAGE_ENDPOINT=example.domain.tld
S3_STORAGE_ACCESS_KEY=secret
S3_STORAGE_PRIVATE_KEY=secret
