TTS_API_KEY=

MEMOIZE_MONGO_INITDB_ROOT_USERNAME=admin
MEMOIZE_MONGO_INITDB_ROOT_PASSWORD=
MEMOIZE_MONGODB_USERNAME=
MEMOIZE_MONGODB_PASSWORD=

MEMOIZE_ME_CONFIG_MONGODB_ADMINUSERNAME=
MEMOIZE_ME_CONFIG_MONGODB_ADMINPASSWORD=

MEMOIZE_MEILI_MASTER_KEY=
MEMOIZE_MEILISEARCH_KEY=

MEMOIZE_GF_SECURITY_ADMIN_PASSWORD=

MEMOIZE_STREAM_SIGNING_SECRET=
MEMOIZE_ACCESS_TOKEN_SECRET=
MEMOIZE_REFRESH_TOKEN_SECRET=

MEMOIZE_BUCKET_NAME=
MEMOIZE_S3_STORAGE_ENDPOINT=
MEMOIZE_S3_STORAGE_ACCESS_KEY=
MEMOIZE_S3_STORAGE_SECRET_KEY=
MEMOIZE_S3_API_KEY=
