@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarThumbRounded);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumbBg);
    border-radius: var(--scrollbarThumbRounded);
}

*:focus {
    outline: none;
}

html,
body {
    overscroll-behavior: none;
}

* {
    user-select: none;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: ripple 0.6s linear;
    pointer-events: none;
    transform: scale(0);
}